############
# Git Ignore

#Linux trash folder which can appear anywhere
.Trash-*

# .nfs files are created when file is removed but still being accessed
.nfs*

#dont add anyof the symlinks in dir to tracking
dir/*

#but still keep the folder
!dir/.gitkeep

#dont track config.php
var/config.php

#dont track any of the user added resouce files, except the readme and sample
resources/*
!resources/README.txt
!resources/cabinet.png

#I use vim, therefore ignore temp files and swap files
*~
*.swp
*.swo
